@CHARSET "UTF-8";

.ListItemTitle {
	font-size: 18px;
}

.TextContainer {
	float: left;
	width: 525px;
}

.ImageContainer {
	float: left;
	width: 75px;
}

.ItemContainer {
	width: 600px;
	clear: both;
	padding: 10px;
}

.ListImageAttributes {
	width: 75px;
}